{% extends 'base2.html' %}

{% block nav %}
<li class="nav-item active">
    <a class="nav-link" href="#">
        <span class="sr-only">(current)</span>
    </a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="#">
        <span class="sr-only">(current)</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
</li>
{% endblock %}

{% block content %}
<h2>Sign In Page</h2>
<form method="post">
    {{ form.csrf_token }}
    {{ form.username.label }}<br>
    {{ form.username }}<br>
    {% if form.username.errors %}
        {% for message in form.username.errors %}
        <small class="error">{{ message }}</small><br>
        {% endfor %}
    {% endif %}
    {{ form.password.label }}<br>
    {{ form.password }}<br>
    {% if form.password.errors %}
        {% for message in form.password.errors %}
        <small class="error">{{ message }}</small><br>
        {% endfor %}
    {% endif %}
    {{ form.submit }}<br>
</form>
{% endblock %}